$primary: #34CA9A;
$red-icon: #ea442a;
$yellow-icon: #ffe400;



$dark-text: #222222;
$light-text: #444444;
$user-head-color: #1A202C;
$text-orange: #EA442A;
$admin-text: #8E8E8E;


$border-light: #e4e6ec;
$border-top: #e5e5e5;

$border-light-admin: #e0e0e0;
$border-light2-admin: #e6e6e6;




$primary-background: rgba($primary, 0.2);
$light-gray-background: #faf9fb;
$user-background: #f0f1f5;
$admin-logo-background: #D9D8DA;

$white: #fff;
$black: #111;
$red: #ff0000;

$toaster-warning: #ffc107;
$toaster-error: #dc3545;
$toaster-success: #28a745;

$linkBlue: rgb(0, 128, 255);

