<!-- <div class="login">
  <div class="heading">
    <h2>Login Form</h2>
  </div>
  <form [formGroup]="loginForm">

    <mat-form-field class="formInput">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field class="formInput">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>

    <button mat-raised-button (click)="login(loginForm.value)" [disabled]="loginForm.invalid" >Login</button>
  </form>
</div> -->



<div class="login">
  <mat-card>
    <div class="heading">
      <h2>Create Account</h2>
    </div>
    <form [formGroup]="loginForm">

      <mat-form-field class="formInput">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field class="formInput">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field><br>

      <button mat-raised-button color="primary" (click)="login(loginForm.value)" [disabled]="loginForm.invalid" >login</button>
      <div class="loginMessage" *ngIf="message=='loggin...'">{{message}}</div>
      <div class="message" *ngIf="message && message!='loggin...'">{{message}}</div>
      <div class="userError" *ngIf="userError!=undefined">{{userError}}</div>
      <div class="signup">New to just-smile? <span>Sign up.</span></div>
    </form>
  </mat-card>
</div>

